@tailwind base;
@tailwind components;
@tailwind utilities;

@supports not (selector(::-webkit-scrollbar)) {
  :root {
    /* not as customizable as ::-webkit-scrollbar-* but better than nothing */
    scrollbar-color: #62738a #374151;
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #374151;
}

::-webkit-scrollbar-thumb {
  background-color: #62738a;
  border-radius: 20px;
  border: 6px solid transparent !important;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7486a5;
}
